{{ partial "header.html" . }}

    <article id="post">
      <h1>Violently Mild</h1>

      <p><strong>This is the personal website of Kushal Pisavadia, a
          developer who enjoys operations as much as development.</strong></p>

      <p>I&#8217;m Kushal Pisavadia. Up until recently I was a
      developer at the <a href="https://gds.blog.gov.uk/">Government
      Digital Service</a>, where I made things that help people
      interact with government, like <a href="https://www.gov.uk/">GOV.UK</a>.</p>

      <p>I (sometimes) post on <a href="http://violentlymild.com/">my
      blog</a>, relay brief updates in short-form
      to <a href="http://twitter.com/KushalP">Twitter</a> and scrobble
      my music habits
      on <a href="http://www.last.fm/user/Scorchin">Last.fm</a>. You
      can also check out some of my code
      on <a href="http://github.com/KushalP">Github</a>. The easiest
      way to get hold of me is
        by <a href="mailto:kushal@violentlymild.com">email</a>.</p>
    </article>

{{ partial "footer.html" . }}
