<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Kushal Pisavadia">

  <base href="{{ .Site.BaseURL }}">

  <title>Violently Mild &raquo; {{ .Title }}</title>

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap">

  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">

  <link rel="home" href="/" title="Home page">
</head>

<body>

  <div class="container">

    <ul class="navigation">
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="{{ .Site.BaseURL }}posts/">Posts</a></li>
      <li><a href="{{ .Site.BaseURL }}talks/">Talks</a></li>
    </ul>

    <main>
