@import url("reset.css");

/* HTML5 reset */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: #fff;
    color: #333;
    font-family: 'Sintony', serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
    body { font-size: 22px; }
}

.container {
    display: block;
    margin: 0;
    padding: 2em;
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        margin-left: 2.36%;
        max-width: 850px;
        width: 82.94%;
    }
}

ul.navigation {
    margin-bottom: 1em;
    text-transform: uppercase;
}

ul.navigation li {
    display: inline-block;
    margin-left: 0;
    margin-right: 1em;
}

h1 {
    font-size: 225%;
    font-weight: bold;
    line-height: 1.1;
    margin: 0 0 0.5em 0;
}

h2, h3, h4 {
    font-weight: bold;
}

h2.date, footer p {
    border-bottom: 1px solid #333;
    font-size: 70%;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 3em;
    text-align: right;
    text-transform: uppercase;
}

p {
    font-weight: 300;
    font-size: 90%;
    margin-bottom: 1.5em;
    width: 100%;
}

p:first-of-type {
    margin-top: 0;
}

ul {
    padding: 0;
}

li {
    font-size: 90%;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

ul.archive li {
    margin-left: 0;
}

blockquote {
    font-style: italic;
}

a {
    border-bottom: 1px solid #e4dbce;
    color: #238789;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #d1c2ae;
    color: #43cccf;
}

pre + p {
    margin-top: 1em;
}

pre + h2 {
    margin-top: 1em;
}

pre + h3 {
    margin-top: 1em;
}

footer {
    margin-top: 2em;
}

footer p {
    margin-bottom: 0;
}
